<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @computer.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @computer.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @computer.price %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @computer.marca.name %>
</p>

<%= link_to 'Edit', edit_computer_path(@computer) %> |
<%= link_to 'Back', computers_path %>
